body {
	background-color: lightgray;
}

img {
    float: left;
    margin-bottom: 10px;
}

p {
    background-color: #999;
    color: white;
    font-family: arial;
    font-size: 18pt;
    margin-left: 220px;
}

p.title {
    background-color: blue;
    color: yellow;
}

a {
    margin-left: 220px;
    background-color: blue;
    color: red;
    font-size: 18pt;
}

a:hover {
    background-color: red;
    color: blue
}

iframe {
    margin-left: 220px;
}